.logo {
  width: 100%;
}
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/src/assets/Vector.svg");
  width: max-content;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 15px;
  cursor: pointer;
}
option {
  background-color: #fff;
  color: #2c4b42;
  font-size: 14px;
  padding: 20px;
}
.auth-card {
  box-shadow: 0px 4px 6px 0px #00000021;
}
